.checklistContainer {
    background-color:#F3F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130vh;
    margin: 0;
    flex-direction: column;
    background-color: #F4FCFF;
}

.checklist {
    width: 100vh;
    height: 100vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* 내용이 넘치면 세로 스크롤 */
    padding: 10px;
    margin-bottom: 20px;
    /* 스크롤바 숨기기 */
    -ms-overflow-style: none;  /* IE와 Edge */
    scrollbar-width: none;     /* Firefox */
}

/* Chrome, Safari, Opera를 위한 설정 */
.checklist::-webkit-scrollbar {
    display: none;
}
#loanResultButton{
    padding: 10px 20px;           
    font-size: 16px;               
    background-color: #0065C4;   
    color: white;               
    border: none;                 
    border-radius: 5px;          
    cursor: pointer;              
    transition: background-color 0.1s ease; 
    margin-top: 50px;
    
}


#loanResultButton:hover {
    background-color: #015f99;
  }

#checklistText {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 25px;
}

.checklistAdvice {
    margin-top: 35px;
    margin-left: 20px;
    border-radius: 10px;    
    background-color: white;
    border: 2px solid #D9D9D9; 
    box-sizing: border-box;
    display: flex; 
    align-items: center;
    width: 85vh;
    height: 20vh;
}
#checklistAdviceImg {
    margin-left: 10px;
    margin-top: 5px;
    width: 105px;
    height: 18vh;
    margin-right: 20px; 
    object-fit: cover;
}
.checklistAdviceTextContainer {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.checklistAdviceText1 {
    flex-direction: column; 
    font-size: 1rem;
    text-align: left; 
    display: flex;
    justify-content: center; 
}
.checklistAdviceText2 {
    font-size: 1rem;
    flex-direction: column; 
    text-align: left; 
    display: flex;
    justify-content: center; 
}
.checklistContent {
   margin-top: 5vh;
   padding: 30px;
}