.checklistContainer {
    background-color: #F4FCFF;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    flex-direction: column;
    padding-top: 20px; 
}

.checklist {
    width: 100vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.checklistContent {
    width: 100%;
    margin-top: 20px;
}

#checklistText {
    font-size: 25px;
    width: 100%;
    margin: 20px;
}

.checklistAdvice {
    margin: 30px 20px; 
    border-radius: 10px;    
    background-color: white;
    border: 2px solid #D9D9D9;
    box-sizing: border-box;
    display: flex; 
    align-items: center;
    width: 85vh;
    height: 20vh;
}

#checklistAdviceImg {
    margin-left: 10px;
    margin-top: 5px;
    width: 105px;
    height: 18vh;
    margin-right: 20px;
    object-fit: cover;
}

.checklistAdviceTextContainer {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.checklistAdviceText1, .checklistAdviceText2 {
    font-size: 1rem;
    text-align: left; 
}

.checkText {
    font-size: 20px;
    margin: 5px 20px; 
    text-align: left; 
}

.radioButtons {
    display: flex;
    gap: 40px;
    margin: 20px;
    align-items: center;
    margin-left: 40px;
}

.radioLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

#loanResultButton {
    padding: 10px 20px;           
    font-size: 16px;               
    background-color: #0065C4;   
    color: white;               
    border: none;                 
    border-radius: 5px;          
    cursor: pointer;              
    transition: background-color 0.1s ease; 
    margin-top: 20px;
    margin-bottom: 20px;
}

#loanResultButton:hover {
    background-color: #015f99;
  }

#checklistText {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 25px;
}

.checklistAdvice {
    margin-top: 35px;
    margin-left: 20px;
    border-radius: 10px;    
    background-color: white;
    border: 2px solid #D9D9D9; 
    box-sizing: border-box;
    display: flex; 
    align-items: center;
    width: 85vh;
    height: 20vh;
}
#checklistAdviceImg {
    margin-left: 10px;
    margin-top: 5px;
    width: 105px;
    height: 18vh;
    margin-right: 20px; 
    object-fit: cover;
}
.checklistAdviceTextContainer {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.checklistAdviceText1 {
    flex-direction: column; 
    font-size: 1rem;
    text-align: left; 
    display: flex;
    justify-content: center; 
}
.checklistAdviceText2 {
    font-size: 1rem;
    flex-direction: column; 
    text-align: left; 
    display: flex;
    justify-content: center; 
}
