.btnContainer {
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

.formRadioBtn label:hover {
    color: var(--color-light-gray);
    background-color: white;
}


