@media screen and (max-width: 393px) {
.full {
    background-color: var(--color-bg);
    height: auto;
}
#topText {
    font-size: 20px;
    padding: 20px;
    color: var(--color-text-dark);
    width:100%;
}
.adviceBox {
    background-color: var(--color-bg);
    height: 20vw;
    width: 95%;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
    padding-top: 10px;
    padding-left:10px;
}

.checklistContainer {
    background-color:var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130vh;
    margin: 0;
    flex-direction: column;
}

.checklist {
    margin-top: 30px;
    margin-left: 10px;
    /* width: 100vh; */
    height: auto;
    background-color: var(--color-bg);;
    /* 내용이 넘치면 세로 스크롤 */
    overflow-y: auto; 
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% - 20px) 
}


#loanResultButton{
    padding: 10px 20px;           
    font-size: 16px;               
    background-color: var(--color-blue); 
    color: white;               
    border: none;                 
    border-radius: 5px;
    align-items: center;          
    cursor: pointer;              
    transition: background-color 0.1s ease; 
    margin-top: 20px;
    /* margin-bottom:50px; */
    /* 중앙 정렬을 위한 추가 속성 */
    display: block; /* 블록 레벨 요소로 변경 */
    margin-left: auto; /* 좌우 마진을 auto로 설정 */
    margin-right: auto;
}


#loanResultButton:hover {
    background-color: var(--color-blue);
  }

}