.container {
  width: 100%;
}

.cardList ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 312px;
}

.cardList li {
  list-style: none;
  display: inline-block;
}

.loadingMessage {
  color: var(--color-light-gray);
  text-align: center;
}

.containerNone {
  width: 100%;
  padding: 20px 16px;
  background-color: var(--color-bg);
  display: flex;
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 100%;
  color: var(--color-light-gray);
  font-size: 16px;
  background-color: white;
}

/* 화면 너비가 393px 미만일 때 적용 */
@media (max-width: 393px) {
  .container {
    width: 100%;
  }
  
  .cardListUl {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    justify-content: center;
    width: auto; 
  }
}