.listContainer {
    max-height: 100%; /* 4개 리스트 크기에 맞게 조정 */
    overflow-y: auto; /* 스크롤 활성화 */
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0; /* 리스트 간 간격 제거 */
    width: 32%;
  }
  
  .propertyItem {
    position: relative; /* 북마크 아이콘을 절대 위치로 배치할 수 있도록 설정 */
    display: flex;
    align-items: flex-start;
    padding: 16px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
}
  
  .imageWrapper {
    position: relative;
    flex-shrink: 0;
  }
  
  .propertyImage {
    width: 120px; /* 이미지 크기 */
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .bookmarkWrapper {
    position: absolute;
    top: 8px; /* 리스트의 상단에 위치 */
    right: 8px; /* 리스트 오른쪽 상단에 위치 */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* 다른 요소 위에 표시 */
}
  
.propertyDetails {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* 컨테이너를 넘어가는 내용을 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 "..."으로 표시 */
    white-space: nowrap; /* 한 줄로 제한 */
}
  
.title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0 0 8px;
  overflow: hidden; /* 넘치는 내용을 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 "..."으로 표시 */
  white-space: nowrap; /* 한 줄로 제한 */
}
  
  .location {
    font-size: 16px;
    color: #555;
    margin-bottom: 4px;
    font-weight: 500; /* 약간 두꺼운 텍스트 */
  }
  .maintenance {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
  }

  .propertyDetails {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* 컨테이너를 넘어가는 내용을 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트는 "..."으로 표시 */
    white-space: nowrap; /* 한 줄로 제한 */
  }
  
  

/* 모바일 환경에서의 스타일 */
@media (max-width: 393px) {
    .listContainer {
      width: 100%;
    }
    .listSideBar {
        width: 100%;
        padding: 5px;
    }

    .propertyItem {
        /* flex-direction: row-reverse; Switch image to the right */
        align-items: center;
    }

    .propertyImage {
        width: 70px; /* 모바일에서 이미지 크기 줄이기 */
        height: 70px;
        margin-left: 10px;
    }

    .title,
    .location,
    .maintenance,
    .description {
        font-size: 12px;
    }
}
