.rangeSliderContainer {
    margin: 1rem 0;
    font-family: 'Pretendard', sans-serif;
}

.rangeLabel {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    display: block;
    color: var(--color-text-dark);
}

.rangeWrapper {
    position: relative;
    width: 100%;
}

.rangeTrack {
    position: relative;
    height: 8px;
    background-color: var(--color-border-light);
    border-radius: 4px;
    overflow: visible; 
}


.rangeFilledTrack {
    background: linear-gradient(to right, var(--color-blue), var(--color-blue-dark));
    height: 100%;
    position: absolute;
    border-radius: 4px;
}

.rangeThumb {
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid var(--color-text-dark);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.rangeThumb:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.rangeValues {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: var(--color-light-gray);
    margin-bottom: 8px;
}
