.tabContainer {
    display: flex;
    justify-content: space-between; /* 탭을 화면에 꽉 차게 배치 */
    margin-bottom: 20px;
    width: 100%;
  }
  
  .tab {
    flex: 1; /* 탭이 동일한 너비를 가지도록 설정 */
    padding: 12px 0;
    text-align: center;
    border-radius: 0;
    background-color: #f1f5f9;
    color: #0065C4;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none; /* 외곽선 제거 */
  }
  
  .tab:hover {
    background-color: #e0e7ff;
  }
  
  .tab:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .tab:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .activeTab {
    background-color: #0065C4;
    color: #ffffff;
  }