.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f6fb;
  }
  
  .loginBox {
    width: 350px;
    height: 450px;
    padding: 60px 40px;
    background-color: #f4fcff;
    border-radius: 8px;
    border: 1px solid #d0e4f5; /* 테두리 선 추가 */
    text-align: center;
  }

  .loginBox p {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 12px;
    color: #636363;
    line-height: 1.5;
    font-weight: bold;
  }
  
  .loginButton {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    font-size: 13px;
    color: white;
    background-color: #0080CD;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginButton:hover {
    background-color: #466ea3;
  }

  .Image {
    margin-top: 70px;
  }