.back_card {
    width: 100%;
    height: 400px;
    background-color:#232A60;
    display: flex;        /* 자식 요소들을 flex로 배치 */
    justify-content: center; /* 가로로 중앙 정렬 */
    align-items: center;  /* 세로로 중앙 정렬 */
    padding: 20px;         /* 안쪽 여백 */
    /* box-sizing: border-box; padding을 포함한 박스 크기 계산 */
}