.full-bottom-card {
    display: flex;
    justify-content: center;  
    align-items: flex-start;    
    height: 50vh;   
    background-color: #F4FCFF;
}
.bottom-card {
    display: flex;
    width: 50%;
    flex-direction: column;    
    justify-content: flex-start; 
    align-items: center;       
    text-align: center;
}

#bottom-text {
    margin: 0;
    font-size: 24px;
    color: black;
    margin-top: 20px;
    margin-bottom: 30px;
}

