.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f5f5f5;
  color: #232A60;
  font-family: var(--font-Gmarket), sans-serif;
  
}

.header-left {
  width: 80px; /* 로그인 버튼과 동일한 너비를 주어 균형을 맞춤 */
}

.header-title a{
 
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
}

.login-button {
  padding: 0.5rem 1rem;
  background-color: #232A60;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 80px;
}

.login-button:hover {
  background-color: #232A60;
}