.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    height: calc(100vh - 196px);
    margin: 0 auto;
    padding: 20px;
}

.container {
    display: flex;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
}

/* 393px 이하일 때 적용되는 스타일 */
@media (max-width: 393px) {
    .leftBox {
        width: 0%;
        box-sizing: border-box;
    }
    
    .rightBox {
        width: 100%;
        padding: 20px;
        border-left: 1px solid #ddd;
        box-sizing: border-box;
    }   
}

/* 393px 초과일 때 적용되는 스타일 */
@media (min-width: 394px) {
    .leftBox {
        width: 55%;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .rightBox {
        width: 45%;
        padding: 20px;
        border-left: 1px solid #ddd;
        box-sizing: border-box;
    }
}