.container {
    background-color:var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 160vh;
    margin: 0;
    flex-direction: column;
    background-color: var(--color-bg);
}
.cardItem {
    width: 90vh;
    height: 35vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top : 20px;
    margin-bottom: 30px;
}

.cardItem {
    flex: 0 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loanDescription {
    margin:20px;
}
.bottomBox {
    width: 1000px;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* 내용이 넘치면 세로 스크롤 */
    padding: 10px;
     /* 스크롤바 숨기기 */
     -ms-overflow-style: none;  /* IE와 Edge */
     scrollbar-width: none;     /* Firefox */
 }
 
 /* Chrome, Safari, Opera를 위한 설정 */
 .bottomBox::-webkit-scrollbar {
     display: none;
 }
 .loanContent {
    margin: 20px;
 }
/* .goToChecklistButton{
    padding: 10px 20px;           
    font-size: 16px;               
    background-color: var(--color-blue);
    color: white;               
    border: none;                 
    border-radius: 5px;          
    cursor: pointer;              
    transition: background-color 0.1s ease; 
    margin-top: 50px;
}


.goToChecklistButton:hover {
    background-color: var(--color-blue-dark);
  }
 */




  
.loanType {
    text-align: left;
    margin: 20px;
    color: #0065C4;
}
.loanName {
    text-align: left;
    margin: 20px;
    font-size: 20px;
}
.loanSummary {
    text-align: left; 
    margin: 5px;
    
}
.loanTarget {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px ;
    white-space: nowrap;  
    color: #7C7C7C;
    
}
.loanTargetText {
    flex: 9;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px ;
    max-width: 500px;       
    /* overflow: hidden;              
    text-overflow: ellipsis;     
    white-space: nowrap;  
    cursor: pointer;            
    position: relative; */
}
.loanDate {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px ;
    white-space: nowrap;  
    color: #7C7C7C;
}
.loanDateText {
    flex: 9;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px ;
    max-width: 500px;       
    /* overflow: hidden;              
    text-overflow: ellipsis;     
    white-space: nowrap;  
    cursor: pointer;            
    position: relative; */
} 

.loanLimit {
    margin: 5px;
    white-space: nowrap;  
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px ;
    color: #7C7C7C;
}
.loanLimitText { 
    flex: 9;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px ;
    max-width: 500px;                      
    /* overflow: hidden;              
    text-overflow: ellipsis;     
    white-space: nowrap;  
    cursor: pointer;            
    position: relative; */
}

.loanTextBox1 {
    display: flex;  
    position: relative;
}

.loanTextBox2 {
    display: flex;  
}
.loanTextBox3 {
    display: flex;  
}



.imageContainer {
    margin-left: auto; 
    display: flex;  
    align-items: center;    
    justify-content: center;
    width: 200px;
    height: 300px;
    background-color: #ffffff;
}

.cardImage {
    width: 20vh;
    height: 20vh;
    align-items: center;    
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 550px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #a73636;
   
}

.bottomBoxLabel {
    color: #7C7C7C;
    font-weight: bold;
    margin-bottom: 5px;
    margin: 20px;
}

.bottomBoxValue {
    margin: 20px;
    margin-bottom: 30px;
}

.rateTable {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .rateTableHeader {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    border: 1px solid #ddd;
   
  }
  
  .rateTableCell {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
   
  }
  .label {
    color: #7C7C7C;
    font-weight: bold;
    margin-bottom: 5px;
    margin: 20px;
    margin-left: 5px;
  }