.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  background-color: white;
  text-align: center;
  color: #666;
  font-size: 16px;
  margin-top: 40px; /* 탭과 콘텐츠 사이의 간격 추가 */
}

.message {
  padding: 20px;
}