.container {
  width: 100%;
  padding: 20px 0;
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 100%;
  color: var(--color-light-gray);
  font-size: 16px;
  background-color: white;
}