.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F4FCFF;
}

.container {
  flex: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 20px;
}

.content {
  text: white;
}

.main {
  width: 100%;
}

@media screen and (max-width: 393px) {
  .container {
    padding: 20px 16px;
  }
}