.cardList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .cardItem {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
  
    display: flex;
    justify-content: space-between;
  }
  
  .containBox {
    display: flex;
    align-items: flex-start;
  }
  
  .imageBox {
    display: flex;  
    align-items: center;
    justify-content: center; 
    margin: 10px
  }
  
  .imageBox img {
    width: 100px;
    height: 100px;
    display: flex;  
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-light-gray);
  }
  
  .loanType {
    font-size: 14px;
    color : var(--color-blue);
  }
  
  .name {
    font-size: 20px;
    color : var(--color-text-dark);
  }
  
  .textInfo {
    margin-top: 10px;
    font-size: 16px;
    font-family: var(--font-pretendard-regular);
    color: var(--color-text-dark);
  }
  
  .textBox {
    margin-left: 30px;
  }
  
  .buttonStack {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonStack button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    padding: 20px;
    color: white;
    background-color: var(--color-blue);
    border: none; 
    border-radius: 10px;
  }
  
  .buttonStack button:hover {
    background-color: var(--color-blue-dark);
  }